#profile-user-pic {
  height: min(300px, 40%);
  width: min(300px, 40%);
  border-radius: 500vw;
  border: 5px solid black;
  box-shadow: 0 0 10px #000;
  margin: 5px;
  margin-top: 20px;
}

#modify-profile-button[data-is-modifying="true"] {
  display: none;
}

#modify-profile-button,
#save-profile-button,
#discard-changes-button {
  border-radius: 20px;
  border: none;
  background: #ff5858;
  color: black;
  padding: 10px;
  margin-top: 0;
}

#modify-profile-button {
  margin-top: 5px;
}

#discard-changes-button {
  margin-top: 10px;
}

#modify-profile-button:hover,
#save-profile-button:hover,
#discard-changes-button:hover {
  background: #dd3636;
  cursor: pointer;
}

#profile-name,
#profile-password {
  background: #eee;
  border-radius: 20px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px #555;
  width: min(400px, 75vw);
  margin: 10px 0;
}

#use-initials-button,
#revert-to-normal-button,
#choose-file-button {
  border: none;
  background: #7575ff;
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#use-initials-button:hover,
#choose-file-button:hover,
#revert-to-normal-button:hover {
  background: #5858ff;
  cursor: pointer;
}

#profile-reauth-modal {
  z-index: 10;
  width: 500px;
  height: 220px;
  position: absolute !important;
  top: 50vh !important;
  left: 50vw !important;
  transform: translate(-50%, -50%);
}

#profile-reauth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-reauth-content h1 {
  margin-bottom: 5px;
}

#profile-reauth-content input {
  border: none;
  padding: 10px;
  border-radius: 50px;
  background: #eee;
  margin: 3px 0;
  width: min(400px, 75vw);
}

#profile-reauth-content button {
  background: #ff5858;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-top: 5px;
}

#profile-reauth-content button:hover {
  background: #dd3636;
  cursor: pointer;
}
