#profile-user-pic {
  height: min(300px, 40%);
  width: min(300px, 40%);
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: 0 0 10px #000;
  margin: 5px;
  margin-top: 20px;
}

#modify-profile-button[data-is-modifying="true"] {
  display: none;
}

#modify-profile-button,
#save-profile-button {
  border-radius: 20px;
  border: none;
  background: #ff5858;
  color: black;
  padding: 10px;
  margin-top: 10px;
}

#modify-profile-button:hover,
#save-profile-button:hover {
  background: #ee4747;
  cursor: pointer;
}

#profile-name {
  background: #eee;
  border-radius: 20px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px #555;
  width: min(400px, 75vw);
}
