#employee-view-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

#employee-view-header img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

.shift {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.shift:hover {
  cursor: pointer;
  background: #eee;
}

#employee-shift-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
}

#employee-shift-add:hover {
  background-color: #eee;
  cursor: pointer;
}

#employee-shift-add-submit {
  background: #ff5858;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
}

#employee-shift-add-submit:hover {
  background: #dd3636;
  cursor: pointer;
}
