#employee-view-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

#employee-view-header img {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.shift {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.shift:hover {
    cursor: pointer;
    background: #eee;
}

#employee-shift-add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 5px;
}

#employee-shift-add:hover {
    background-color: #eee;
    cursor: pointer;
}

#employee-shift-add-submit,
#employee-shift-reschedule-submit {
    background: #ff5858;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
}

#employee-shift-add-submit {
    margin-bottom: 10px;
}

#employee-shift-add-submit:hover,
#employee-shift-reschedule-submit:hover {
    background: #dd3636;
    cursor: pointer;
}

#employee-shift-reschedule-submit {
    background: white;
}

#employee-shift-reschedule-submit:hover {
    background: #eee;
    cursor: pointer;
}

#employee-reschedule-shift-modal {
    z-index: 10;
    width: 500px;
    height: 290px;
    position: absolute !important;
    top: 50vh !important;
    left: 50vw !important;
    transform: translate(-50%, -50%);
}

#employee-add-shift-details,
#employee-reschedule-shift-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#employee-add-shift-details > label,
#employee-reschedule-shift-details > label {
    margin-top: 10px;
}
